body {
	border: 20px solid #bdc3c7;
	max-width: 700px;
	width: "80%";
	margin: 20px auto;
	padding: 20px;
	font-family: 'Source Sans Pro', sans-serif;
}

h2 {
	color: #2c3e50;
	font-size: 2.0rem;
}

.date {
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}

.extract {
	border-left: 5px solid #bdc3c7;
	padding-left: 5px;
}

hr.style14 { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

.post {
	margin-bottom: 20px;
}