body {
	width: 50%;
	margin: 0 auto;
}

h1 {
	text-align: center;
}

table {
	margin: 0 auto;
}

td {
	height: 100px;
	width: 100px;
}

.vertical {
	border-left: 2px solid black;
	border-right: 2px solid black;
}

.horizontal {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}